.shareAMovieForm {
  margin: auto;
  display: table;
  width: fit-content;
  margin-top: 80px;
  border: 1px solid black;
  padding: 2rem;
}

.shareAMovieForm .cell {
  display: table-cell;
  overflow: hidden;
}

#leftDiv {
  width: 120px;
}

#rightDiv {
  width: 300px;
}

.shareAMovieForm label {
  align-self: center;
}

.shareAMovieForm input {
  width: 100%;
}

.shareAMovieForm button {
  width: 100%;
  margin-top: 20px;
}