.logo {
  font-size: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 0.5rem;
}

.actionContainer {
  display: flex;
  justify-content: space-between;
}

.actionContainer p {
  margin: 0 10px 0 0;
  align-self: center;
}

.actionContainer button:not(:last-child) {
  margin-right: 10px;
}